{% extends 'layout/app-layout.html' %}

{% block 'content' %}

  <div style="display: flex; justify-content: space-around;">
    <div>
      <h2>Login</h2>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button type="submit">Login</button>
      </form>
    </div>
    <div>
      <h2>Sign Up</h2>
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ signup_form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>

{% endblock %}
